#container {
    background-color: rgb(38, 51, 51);
    margin-top: 30px;
}
#ad {
    color: forestgreen;
    font-style: italic;
    text-align: left;
    margin-left: 10px;
    margin-top: -80px;
}
@media only screen and (min-width: 342px){
  #ad {
      margin-right:100px;
  }
}
.square {
    margin-top: -280px;
    margin-left: 480px;
    width:372px;
    height:372px;
    border:1px solid rgb(38, 51, 51);
    border-radius: 10px;
  }
  @media only screen and (min-width: 342px){
    .square {
        margin-top: -200px;
        margin-left: -10px;
        width:372px;
        height:372px;
    }
  }
#but0,#but1,#but2,#but3,#but4,#but5,#but6,#but7,#but8,#but9,#but10,#but11,#but12,#but13,#but14,
#but15{
  width: 80px;
  background-color: black;
  border-color: black;
  border-radius: 10px;
  height:80px;
  margin-left: 10px;
  margin-top:10px;
  color:green;
  font-size: 40px;
}
#but20{
  width: 80px;
  background-color: black;
  border-color: black;
  border-radius: 10px;
  height:80px;
  margin-left: 500px;
  margin-top:80px;
  color:red;
  font-size: 15px;
}
@media (min-width: 342px){
  #but20 {
      margin-left: 140px;
  }
}
#he {
  text-align: right;
  color:white;
  margin-top: -50px;
}
#ti {
  text-align: right;
  margin-top: 0px;
  color: aliceblue;
}
@media only screen and (min-width: 342px){
  #ti {
      margin-top: 0px;
      margin-left:200px;
  }
}
#it {
  margin-top: -90px;
  color: aliceblue;
  text-align: bottom;
  text-align: right;
}
@media only screen and (min-width: 342px){
  #it {
      margin-top: -90px;
  }
}
#control {
  margin-left: 490px;
  margin-top: -20px;
}
@media only screen and (min-width: 342px){
  #control {
      margin-left:10px;
  }
}
#bt {
  margin-top: 20px;
}
#fr {
  margin-top: 30px;
}
#se {
  margin-top: 40px;
}
#th {
  margin-top: 50px;
}
#fo {
  margin-top: 60px;
}
#tr {
  margin-top: -500px;
}